<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Registration Forms</title>
    <!-- Phosphor Icons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <section class="login-section" id="login-section">
        <h2 class="title">Login</h2>
        <p class="subtitle">Welcome back! Please enter your details.</p>
        <form id="login">
          <div class="field">
            <i class="ph ph-user input-icon"></i>
            <input autocomplete="off" required id="username" placeholder="Username" class="input-field" name="username" type="text">
          </div>
          <div class="field">
            <i class="ph ph-lock-key input-icon"></i>
            <input autocomplete="off" required id="password" placeholder="Password" class="input-field" name="password" type="password">
          </div>
          <button class="btn btn-primary" type="submit">Log In</button>
        </form>
        
        <div class="divider">
            <span>or</span>
        </div>

        <div class="footer-text">
            <span>Don't have an account?</span>
            <button class="btn-link" type="button" id="ShowRegister">Sign up</button>
        </div>
      </section>
      
      <dialog id="registerDialog"></dialog>
    
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
